[core]
	excludesfile = /Users/matthieu/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Matthieu Ravey
	email = matthieu.ravey@qonto.com
[commit]
	template = /Users/matthieu/.stCommitMsg
[url "https://oauth2:mEHJcgbGi2kVV6jmRA4G@gitlab.qonto.co"]
	insteadOf = https://gitlab.qonto.co
[gpg]
	program = /usr/local/Cellar/gnupg/2.2.25/bin/gpg
[includeIf "gitdir:~/Code/qonto/"]
    path = ~/Code/qonto/.gitconfig