function remove_branches {
  git fetch -p && for branch in `git branch -vv | awk '{print $1,$4}' | grep 'gone]' | awk '{print $1}'`; do git branch -D $branch; done
}

function git_push_force {
  current_branch=$(git branch | grep \* | cut -d ' ' -f2)

  git push --force origin $current_branch
}

function docker_remove_all_containers {
	docker rm $(docker ps -a -q)
}

function docker_remove_all_images {
	docker rmi $(docker images -q)
}
